.worksheet-data {
  padding: rem(30) 0;
  &__photo {
    max-width: rem(138);
    height: rem(138);
    width: 100%;
    background: no-repeat center / cover;
    border-radius: 50%;
  }
  &__info {
    width: 100%;
    padding-left: rem(20);
    @media (max-width: rem(630)) {
      width: auto;
      padding-left: 0;
      margin-top: rem(20);
    }
  }
  &__field {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: rem(35);
    }
    label {
      position: absolute;
      bottom: rem(10);
      left: 0;
      pointer-events: none;
      color: $dove-gray;
      transition: bottom .3s, font-size .3s;
    }
    input {
      font: rem(12) $roboto-medium;
      padding-bottom: rem(10);
      width: 100%;
      border-bottom: 2px solid $mine-shaft;
      color: transparent;
      transition: color .2s;
      &[type='date'] {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: rem(10);
          width: rem(20);
          height: rem(15);
          background: url(../../images/calendar.svg) no-repeat center / contain;
          opacity: 0;
          transition: opacity .2s;
        }
      }
      &[type='date']::-webkit-calendar-picker-indicator {
        opacity: 0;
        z-index: 9;
        cursor: pointer;
      }
    }
    &--active {
      input {
        color: $mine-shaft;
        &[type='date'] {
          &::after {
            opacity: 1;
          }
        }
        + label {
          bottom: rem(30);
          font-size: rem(12);
        }
      }
    }
  }
}