.worksheet-result {
  padding: rem(60) 0 rem(65);
  @media (max-width: rem(630)) {
    padding: rem(30) 0;
  }

  &__scale {
    position: relative;
    width: 50%;
    background: url("../../images/scale.png") no-repeat center / contain;
    @media (max-width: rem(630)) {
      width: 100%;
      min-height: rem(128);
    }
    svg {
      position: absolute;
      top: 90%;
      left: calc(50% - 60px);
      transform-origin: right center;
      transition: transform .5s;
    }
  }
  &__counter {
    width: 50%;
    @media (max-width: rem(630)) {
      width: 100%;
      margin-top: rem(20);
    }
  }
  &__counter-num {
    width: 100%;
    font-size: rem(50);
    color: $cerulean;
  }
  @keyframes arrow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}