.worksheet-skills {
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  padding: rem(35) 0;
  @media (max-width: rem(630)) {
    padding: rem(30) 0;
  }
  &__wrp {
    display: flex;
    @media (max-width: rem(630)) {
      flex-wrap: wrap;
    }
  }
  &__col {
    width: 25%;
    @media (max-width: rem(630)) {
      width: 50%;
      margin-bottom: 2.5rem;
    }

  }
  &__skill {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: rem(40);
    }
    input {
      opacity: 0;
      &:checked {
        + label {
          &::before {
            background-color: $cerulean;
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }
    label {
      padding-left: rem(15);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(19);
        height: rem(19);
        border-radius: rem(5);
        background-color:  #eee;
        transition: background-color .3s;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2%;
        width: rem(13);
        height: rem(10);
        background: url(../../images/check.svg) no-repeat center/contain;
        opacity: 0;
        transition: opacity .3s;
      }
    }
  }
}