* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: $roboto-medium;
}
input {
  outline: none;
  border: 0;
  background-color: transparent;
  &[type='date']::-webkit-inner-spin-button {
    display: none;
  }
}