
<svg display="none">
  <symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 70 20" id="arrow">
    <path fill="#3E3D40" d="M68.4,10.1c-0.4,5.3-5.1,9.4-10.5,9.2c-0.1,0-0.1,0-0.2,0L0,8.3L59.4,0l0,0C64.8,0.3,68.8,4.8,68.4,10.1 L68.4,10.1L68.4,10.1z"></path>
  </symbol>
</svg>