doctype html
html
    head
        block title
            title Анкета
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        include ./style.pug
        include ./script.pug
    body
        include ../images/sprites/svg_sprites.pug