section.window
    .worksheet
        .worksheet-data
            .container.container--flex
                .worksheet-data__photo(style='background-image:url(./images/avatar.jpg)')
                .worksheet-data__info
                    .worksheet-data__field
                        input(type='text')
                        label Имя
                    .worksheet-data__field
                        input(type='date')
                        label Дата рождения
                    .worksheet-data__field
                        input(type='text')
                        label Город
                    .worksheet-data__field
                        input(type='text')
                        label Контактные данные
        .worksheet-skills
            .container
                .worksheet__title Навыки
                .worksheet-skills__wrp
                    .worksheet-skills__col
                        .worksheet-skills__skill
                            input(type='checkbox' id='html')
                            label(for='html') HTML 5
                        .worksheet-skills__skill
                            input(type='checkbox' id='css')
                            label(for='css') CSS3
                        .worksheet-skills__skill
                            input(type='checkbox' id='bem')
                            label(for='bem') БЭМ
                    .worksheet-skills__col
                        .worksheet-skills__skill
                            input(type='checkbox' id='sass')
                            label(for='sass') SASS
                        .worksheet-skills__skill
                            input(type='checkbox' id='less')
                            label(for='less') LESS
                        .worksheet-skills__skill
                            input(type='checkbox' id='gulp' name='js' value='no')
                            label(for='gulp' name='js') GULP
                    .worksheet-skills__col
                        .worksheet-skills__skill
                            input(type='checkbox' id='vanilla' name='js' value='no')
                            label(for='vanilla' name='js') VANILLAJS
                        .worksheet-skills__skill
                            input(type='checkbox' id='angular' name='js' value='no')
                            label(for='angular' name='js') ANGULAR
                        .worksheet-skills__skill
                            input(type='checkbox' id='jquery' name='js' value='no')
                            label(for='jquery' name='js') JQUERY
                    .worksheet-skills__col
                        .worksheet-skills__skill
                            input(type='checkbox' id='git')
                            label(for='git') GIT
                        .worksheet-skills__skill
                            input(type='checkbox' id='found')
                            label(for='found') FOUNDATION
                        .worksheet-skills__skill
                            input(type='checkbox' id='boot')
                            label(for='boot') BOOTSTRAP
        .worksheet-result
            .container.container--flex
                .worksheet-result__scale
                    svg(width='60px' height='20px')
                        use(xlink:href='#arrow')
                .worksheet-result__counter
                    .worksheet__title Мой уровень владения <br> JavaScript
                    input.worksheet-result__counter-num(value='0' disabled)
